.logout{
    height: 30px;
    display: flex;
    align-items: center;
    padding: 0 10px; 
    font-size: 1.3rem;
    margin-right: 1.5rem;
    border-radius: 10px;
    background-color: #dc3545;
    color: white;
    border-color: #dc3545;
}